<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Collega html e css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Collega html il font usato -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Collega html e font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- Collega html e Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Titolo html -->
    <title>vue-boolzapp</title>
</head>
<body>
    
    <div id="root">
        <div class="color-app-sfondo">

            <!-- APP -->
            <div class="container-app">

                <!-- COLONNA DI SINISTRA -->
                <div class="parte-utenti">

                    <!-- UTENTE -->
                    <div class="utente">
                        <div class="nome-foto">
                            <div class="img-utente">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <div class="nome">Nome Utente</div>
                        </div>
                        <div class="icon">
                            <i class="fas fa-circle-notch"></i>
                            <span class="center-icon"><i class="fas fa-comment-alt"></i></span>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- FINE UTENTE -->

                    <!-- NOTIFICHE -->
                    <div class="notifiche">
                        <div class="img-notifica">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="text-notifica">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- FINE NOTIFICHE -->

                    <!-- SEARCH -->
                    <div class="contacts-filter">
                        <label for="search">
                            <i class="fas fa-search"></i>
                        </label>
                        <input 
                            class="cont-filter" 
                            type="text" 
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="userFilter"
                            @keyup="filterContacts"
                        >
                    </div>
                    <!-- FINE SEARCH -->

                    <!-- CONTATTI -->
                    <div class="contatti">

                        <!-- singolo contatto -->
                        <div 
                            v-for="(contact, index) in contacts"
                            v-if="contact.visible == true" 
                            class="single-contact" 
                            :class="{ 'active' : index == activeContact }"
                            @click="setActiveContact(index)"
                        >
                            <div class="img-utente"><img :src="'img/avatar' + contact.avatar + '.jpg'" :alt=" contact.name "></div>
                            <div class="nome-contatto">
                                {{ contact.name }}       
                            </div>
                        </div>
                        <!-- fine singolo contatto -->

                    </div>
                    <!-- FINE CONTATTI -->

                </div>
                <!-- FINE COLONNA DI SINISTRA -->

                <!-- COLONNA DI DESTRA -->
                <div class="parte-messaggi">

                    <!-- UTENTE SELEZIONATO -->
                    <div class="utente">
                        <div class="nome-foto">
                            <div class="img-utente">
                                <img 
                                    :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" 
                                    alt="contacts[activeContact].name"
                                >
                            </div>
                            <div>
                                <div class="nome"> {{ contacts[activeContact].name }} </div>
                                <div class="ultimo-accesso">Ultimo accesso oggi alle</div>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="fas fa-search"></i>
                            <span class="center-icon"><i class="fas fa-paperclip"></i></span>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- FINE UTENTE SELEZIONATO -->

                    <!-- MESSAGGI -->
                    <div class="messaggi-padding">

                        <!-- SINGLE MESSAGE -->
                        <div 
                            v-for="message in contacts[activeContact].messages" 
                            class="messaggi"
                        >
                        
                            <div :class="message.status">
                                <div class="sms-text">{{ message.text }}</div>
                                <div class="sms-data">{{ message.date }}</div>
                            </div>
                        
                        </div>
                        <!-- FINE SINGLE MESSAGE -->

                    </div>    
                    <!-- FINE MESSAGGI -->

                    <!-- BOTTOM BAR -->
                    <div class="barra-scrittura">

                        <div class="smile">
                            <i class="far fa-smile"></i>
                        </div>

                        <div class="text-sms">
                            <input 
                                type="text"
                                @keyup.enter="addNewMessage( activeContact )" 
                                v-model="userMessage"
                                placeholder="Scrivi un messaggio">
                        </div>

                        <div class="microfono">
                            <i class="fas fa-microphone"></i>
                        </div>

                    </div>
                    <!-- FINE BOTTOM BAR -->                    

                </div>
                <!-- FINE COLONNA DI DESTRA -->

            </div>
            <!-- FINE APP -->

        </div>
    </div>

    
    <!-- Collega html a day.js per mettere le date -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Collega html a javascript -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>